@tailwind base;
@tailwind components;
@tailwind utilities;

/* Genel Stil Ayarları */
body {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    background-color: #ededed; /* Varsayılan arka plan rengi */
    color: #000000; /* Varsayılan metin rengi */
};